body{
    font-family: Roboto, sans serif;
}

nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: regular;
}

nav a{
    color:black;    
    text-decoration: none;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

 .menu{
    display: flex;
    gap: 50px;
}

.menu a{
    display:flex;
    align-items:center;
    gap: 8px;
    transition: 0.2s;
}

.menu a:hover{
    color: gray;
}

.menu img{
    width: 22px;
    height: 22px;
}
.hero{
    text-align: center;
    margin-top: 100px;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.hero-img1 {
    height: 420px;
}

.hero-img2 {
    height: 420px;
}
.hero-subtitle{
    font-weight: 400;
    font-size: 22px;
    margin-top: 0;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.row{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.hero-desc{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    text-align: left;
}
.education{
    background: #000;
    color: white;
    margin-top: 100px;
    text-align: center;
    padding: 60px 20px;
}
.educ-subtitle{
    font-size: 18px;
}
.educ-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.educ-row{
    display: flex;
    align-items: center;
}
.educ-img1{
    height: 420px;
}
.educ-desc{
    max-width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: flex-start;
    text-align: left;
}
.educ-img2{
    height: 420px;
}
.educ-friends{
    display: flex;
    gap: 40px;
    margin-top: -80px;
}
.friend1 img{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    object-fit: cover;
}
.friend2 img{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    object-fit: cover;
}
.job{
    text-align: center;
    margin-top: 100px;
    padding: 10px 20px;
}
.job-subtitle{
    font-size: 18px;
}
.job-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job-row{
    display: flex;
    align-items: center;
}
.job-img1{
    height: 420px;
    width: 500px;
}
.content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}
.job-desc{
    max-width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: flex-start;
    text-align: left;
    padding-left: 20px;
}
.job-img2{
    height: 420px;
}
.link-text{
    max-width: 400px;
    padding-right: 35px;
}
.job-link a{
    padding-right: 35px;
}
.plife{
    text-align: center;
    margin-top: 100px;
    background: #000;
    color: white;
    padding: 60px 20px;
}
.plife-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plife-row{
    display: flex;
    gap: 40px;
    align-items: center;
}
.plife-desc{
    max-width: 500px;
    text-align: left;
}
.plife-img2{
    height: 570px;
}
.plife-img3{
    height: 200px;
    width: 200px;
    object-fit: cover;
    align-self: flex-start;
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}
.contact-subtitle{
    text-align: center;
    gap: 20px;
}
button {
    background: black;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: gray;
}